:root {
  --color-primary: #EB5440;
  --color-secondary: #4A4B4C;
  --color-tertiary-light: #E8E8E8;
  --color-tertiary-dark: #C3C3C3;
  --color-background-1: #F6F6F6;
  --color-background-2: #FFFFFF;
  --color-background-3: #4A4B4C;
  --color-text-primary: #000000;
  --color-text-secondary: #4A4B4C;
  --color-text-tertiary: #ffffff;
  --color-hyperlink: #067BC2;
  --color-hyperlink-hover: #0A4E8F;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0 auto;

  gap: 1.5rem;
  min-height: 100vh;

  background-color: var(--background-1);
  line-height: 1.6;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-size: 0.875rem;
}