@import './base.css';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  line-height: 1.6;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
  padding: 3px;
}

a {
  color: rgb(78, 90, 255);
  transition: 0.4s;
  padding: 3px;
}

