@import './base.css';

/* Type Style System */

/* Montserrat Bold */
h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 2rem; /* desktop */
  line-height: 1.6;

  @media screen and (max-width: 768px) {
    font-size: 1.125rem; /* mobile */
  }
}

/* Montserrat Semibold */
button,
.tabs {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; /* Semibold */
  font-size: 1.125rem; /* desktop */
  line-height: 1.6;

  @media screen and (max-width: 768px) {
    font-size: 0.75rem; /* mobile */
  }
}

/* Montserrat Medium */
.inactive-menu,
.error-message,
.listing-information,
.body-text,
.input-field {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; /* Medium */
  font-size: 1rem; /* desktop */
  line-height: 1.6;

  @media screen and (max-width: 768px) {
    font-size: 0.75rem; /* mobile */
  }
}

/* Montserrat Medium Italic */
.error-message {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; /* Medium */
  font-size: 1rem; /* desktop */
  font-style: italic;
  line-height: 1.6;

  @media screen and (max-width: 768px) {
    font-size: 0.75rem; /* mobile */
  }
}

/* Open Sans Semibold */
.listing-information {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600; /* Semibold */
  font-size: 1rem; /* desktop */
  line-height: 1.6;

  @media screen and (max-width: 768px) {
    font-size: 0.75rem; /* mobile */
  }
}

/* Open Sans Regular */
.body-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 1.125rem; /* desktop */
  line-height: 1.6;

  @media screen and (max-width: 768px) {
    font-size: 0.75rem; /* mobile */
  }
}

/* Input field */
.input-field {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; /* Regular */
  font-size: 1rem; /* desktop */
  line-height: 1.6;

  @media screen and (max-width: 768px) {
    font-size: 0.75rem; /* mobile */
  }
}
